<div class="row ml-3 mr-3">
  <div class="col-6">
    <h1> Console </h1>
    <label>
      <p *ngFor="let text of compiler.log">
        {{text}}
      </p>
    </label>
  </div>
  <div class="col-6">
    <h1>LV Code</h1>
    <textarea rows="20" [(ngModel)]="code"></textarea>
  </div>
</div>

